/*Fonte Google*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/*Reset*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4 {
  color: #fff;
}
a {
  text-decoration: none;
}

html{
  scroll-behavior: smooth;

}

/*Fim do Reset*/

.logo {
  width: 70px;
}

.headline { 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #fff;
  font-size: 2.1rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  padding-bottom: 50px;
}

.headline2 {
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  padding-bottom: 50px;

}
 /* NavBar */
#logotext {
  width: 100%;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px blue;

}

#navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.918);
  background-blend-mode: multiply;
  color: white;
  height: 80px;
}

#navbar a {
  color: white;
}

#navbar-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar-items {
  display: flex;
  text-transform: uppercase;
}

#navbar-items li {
  display: flex;
  align-items: center;
  padding: 10px;
}

#navbar-items li:hover {
  text-shadow: 1px 3px 3px #000000;
  background-color: #696a6b;
  border-radius: 5px;
  color: white;
  transition: all .5s;
}

 /* Fim NavBar */

 /* Header */

#header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: url(../img/bg-image\ 1.png);

  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: color;
}

#header-container {
  text-align: center;

}

#header-container h1 {
  font-size: 4.4rem;
}

#header-container h3 {
  font-size: 1.89rem;
}

#header-container i {
  font-size: 1.7rem;
  color: black;
  background-color: white;
  margin: 10px;
  margin-top: 17px;
  padding: 13px;
  border-radius: 100%;
}

#header-container i:hover {
  cursor: pointer;
  color: white;
  background-color: #4e4e4e;
  padding: 10px;
  border-radius: 60%;
  transition: all 0.45s;
}
 /* Fim */


/* Sobre mim */

#sobremim {
  width: 100%;
  background: #212121;
  color: #fff;
  padding: 50px;
}

#sobremim-container {
  display: flex;
  gap: 100px;
  padding: 15px;
  margin-bottom: 120px;
}

.iconesfofos{
  display: inline-flex;
  width: 120px;
  padding: 30px;
}

.sobremimlogo img{
  display: none;
}


/*Fim Sobre mim */


/* Formacao */

.formacao {
  padding-top: 5rem;
  background-color: #292929;
}

#formacao-container {
  
  flex-wrap: wrap;
  margin-top: 60px;
  display: flex;
  margin: 0 200px 0 200px;
  justify-content: space-around;
  gap: 100px;
  padding: 15px;
}


.adscontent {
  display: flex;
  gap: 2rem;
}

.rdccontent {
  display: flex;
  gap: 2rem;
}

.rdccontent h3 {
  padding-top: 15px;
}

.RDC p {
  padding-top: 20px;
}

.ADS p {
  padding-top: 20px;
}


.card1 {
  color: #fff;
  background-color: #353842;
  border-radius: 15px;
  padding: 20px;
  width: 480px;
  height: 170px;
  left: 230px;
  top: 1484px;

}

.card2 {
  color: #fff;
  background-color: #353842;
  border-radius: 15px;
  padding: 20px;
  width: 480px;
  height: 170;
  left: 730px;
  top: 1484px;

}

/* Formacao */

/* Projetos */


.projetos {
  padding-top: 5rem;
  background-color: #212121;

}
 
 
.card-img img {
  width: 380px;
  height: 283px;
  border-radius: 15px 15px 0 0;

}

.btn {
  margin: 30px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 18px;
  gap: 10px;

  width: 104px;
  height: 41px;

  background: #558fff;
  border-radius: 6px;
}

.btn2{
  margin: 5px 20px 30px 30px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 18px;
  gap: 10px;

  width: 104px;
  height: 41px;

  background: #558fff;
  border-radius: 6px;
}



.curriculo {
  background-color: #292929;
  display: flex;
  justify-content: space-around;
  gap: 100px;
  padding: 15px;
}


.CV{
  display: inline;
  justify-content: center;
}

.cvcontent{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

.CV h1{
  display: flex;
  justify-content: center;
  align-items: center;

}

#projetos-container {
  display: flex;
  justify-items: center;
  gap: 100px;
  padding: 15px;
  flex-wrap: wrap;

}

#projetos-container img {
  width:380px;
  border-radius: 15px 15px 0 0;
}



.card3 {
  margin: 0 auto;
  width: 380px;
  height: 406px;
  left: 123px;
  top: 1944px;
  border-radius: 15px;

  background-color: #353842;
}

.card3 h3, p {
  padding: 10px;
}

.card4 {
  margin: 0 auto;
  width: 380px;
  height: 406px;
  left: 123px;
  top: 1944px;
  border-radius: 15px;

  background-color: #353842;
}

.card4 h3, p {
  color: #fff;
  padding: 10px;
}

.card5 {
  margin: 0 auto;
  width: 380px;
  height: 406px;
  left: 123px;
  top: 1944px;
  border-radius: 15px;

  background-color: #353842;
}

.card5 h3, p {
  padding: 10px;
}

/* Fim Projetos */

/* Curriculo */

#curriculo-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardcv a{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: auto;
  width: 104px;
  height: 41px;

  background: #558fff;
  border-radius: 6px;
  

}





.card6{
  width: 1000px;
  height: 300px;
  left: 123px;
  top: 1944px;
  border-radius: 15px;

  background-color: #353842;
}

/* Fim Curriculo */

/* 
Habilidades */

#conhecimento{
  padding-top: 5rem;
  background-color: #212121;
}

.conhecimentocontainer {
  height: 39rem;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

.cards{
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.card{
  padding: 4rem;
  border-radius: 0.6rem;
  box-shadow: 1rem 1rem 1rem rgba(172, 18, 18, 0.267);
  border: 3px solid red;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;

  transition: 400ms;
}

.card:hover{
  background-color: #363636;
  box-shadow: 1rem 1rem 1rem rgba(161, 70, 70, 0.267);

}


/* 
 Fim Habilidades */

/* Footer */

#footer {
  text-align: center;
  background-color: #292929;
}

#footer img {
  display: inline;
  width: 85px;
}

/* Fim Footer */



